@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--bg0: #f3f6f8;
		--bg1: #e5e7eb;
		--bg2: #f3f4f6;
		--bg3: #f9fafb;
		--cell1: #f3f4f6;
		--cell2: #fff;
		--cell3: #f9fafb;
		--fg1: #081723;
		--fg2: #666668;
		--mg1: #cacadd;
		--mg2: #dfdff1;
	}
	.dark {
		--bg0: #000000;
		--bg1: #000000;
		--bg2: #111827;
		--bg3: #030712;
		--cell1: #1f2937;
		--cell2: #111827;
		--cell3: #1f2937;
		--fg1: #c6d1da;
		--fg2: #a1a4a1;
		--mg1: #4b4b4c;
		--mg2: #3c3c43;
	}
}
