@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--bg1: #ffffff;
		--bg2: #efefef;
		--fg1: #000000;
		--fg2: #787878;
		--mg1: #f1f1f1;
		--mg2: #dddddd;
	}
	.dark {
		--bg1: #000000;
		--bg2: #161616;
		--fg1: #ffffff;
		--fg2: #a1a4a1;
		--mg1: #333333;
		--mg2: #555555;
	}
}
