@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--bg1: #e5e7eb;
		--bg2: #f3f4f6;
		--fg1: #081723;
		--fg2: #666668;
		--mg1: #cacadd;
		--mg2: #dfdff1;
	}
	.dark {
		--bg1: #000000;
		--bg2: #161616;
		--fg1: #ffffff;
		--fg2: #a1a4a1;
		--mg1: #333333;
		--mg2: #555555;
	}
}
